<?xml version="1.0" encoding="utf-8"?>
<configuration>
<appSettings>
  <add key="Username" value="sibtainsyed94@gmail.com" />
  <add key="Password" value="12345678" />
  
	<add key="URL" value="https://demo.opencart.com/index.php?route=account/login" />
	<add key="executionbrowser" value="firefox" />
	<add key="MailHost" value="smtp.mailtrap.io" />
	<add key="MailPort" value="2525" />
	<add key="mailusername" value="000de41c48cb30"/>
	<add key="mailpassword" value="11f298a60a532a"/>
	<add key="MailReceptients" value="abc@example.org" />
	<add key="JiraHost" value="https://bqht.atlassian.net/" />
	<add key="JiraUsername" value="sibtainsyed94@gmail.com" />
	<add key="JiraPassword" value="YNkOI2MenYVsjpEr9nhsA161" />
	<add key="JiraProject" value="BQHT" />
	<add key="JiraReporterId" value="557058:7ee9428f-c538-48a0-b92b-171c45bfae79" />
	<add key="ExtentReportLocation" value="./ExtentReports/" />
	<add key="ScreenshotLocation" value="./Screenshots/" />
</appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
