<?xml version="1.0" encoding="utf-8"?>
<configuration>
<appSettings>
	<add key="URL" value="https://demo.opencart.com/index.php?route=account/login"/>
	<add key="executionbrowser" value="chrome"/>
	<add key="MailHost" value="localhost"/>
	<add key="MailPort" value="localhost"/>
	<!--<add key="MailUsername" value="username"/>
	<add key="MailPassword" value="password"/>-->
	<add key="MailReceptients" value="abc@example.org"/>
</appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
